<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ParkingSystemDKEntities" connectionString="metadata=res://*/EDMX.DataModel.csdl|res://*/EDMX.DataModel.ssdl|res://*/EDMX.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JENKINS;initial catalog=ParkingSystemDK;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>